/****************/
/* Index Tables */
/****************/

.page-header,
.panel-title {
  text-align: center;
}

table.index-set {
  table-layout: fixed;
  width: 100%;
}

.index-set td {
  border: 1px solid #ddd;
  cursor: default;
  font-size: 10px;
  padding: 0 !important;
  text-align: center;
}

.idx {
  border: 3px solid transparent;
}

.idx:hover {
  background-color: #87ceeb;
}

.selected {
  border: 3px solid #46AA68;
}

.incompatible {
  background-color: #EFA5C2;
  color: #C95381;
}

.selected.incompatible {
  border: 3px solid #C95381;
}

.bold {
  font-weight: bold;
}

/************************/
/* Index Set Visibility */
/************************/

.index_set {
  display: none;
}

.index_set.selected-set.selected-type {
  display: block;
}

div.checkbox-inline {
  display: none;
}

div.checkbox-inline.selected-type {
  display: inline-block;
}

/******************/
/* Toggle Buttons */
/******************/

.btn-border,
.btn-border:hover,
.btn-border:disabled:hover,
.btn-border:focus,
.btn-border:active {
  border-color: black;
}

/************************/
/* Checking Custom List */
/************************/

#incompatible-alignments hr {
  margin-top: 10px;
}

#incompatible-alignments ul {
  margin-left: 0;
}

#incompatible-alignments .alert {
  margin-bottom: 10px;
}

.alert-success p + form#export-csv {
  margin-top: 10px;
}

.alert-success form#export-csv .form-group {
  margin-bottom: 5px;
}

.sequence,
textarea {
  font-family: monospace;
}

.sequence.well {
  line-height: 120%;
  margin-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/****************/
/* Mode Chooser */
/****************/

.thumbnail {
  max-width: 310px;
}

.thumbnail {
  margin-left: auto;
  margin-right: auto;
}

.thumbnail a:hover {
  text-decoration: none;
}

.thumbnail {
  border-color: #87CEEB;
}

.thumbnail:hover {
  border-color: #FFC98D;
}

a#sictool-select-mode {
  color: rgb(51, 51, 51);
  text-decoration: none;
}

a#sictool-select-mode:hover {
  color: #555;
}

a#sictool-select-mode:active {
  color: #888;
}

/*******************/
/* Required Fields */
/*******************/

.required-fields .control-label:after {
  color: rgb(169, 68, 66);
  content: "*";
  padding-left: 2px;
}

/**********************/
/* Usage Instructions */
/**********************/

.usage.well p {
  margin-bottom: 0;
}

.usage.well br + p {
  margin-top: -10px;
}

.usage.well p:first-child {
  margin-top: -10px;
}

.usage.well p:last-child {
  margin-bottom: -10px;
}

/*****************/
/* Miscellaneous */
/*****************/

#feedback-btn {
  background-color: #c80006;
}

#n-mer {
  color: rgb(150, 150, 150);
}

.inline-form-buttons {
  display: inline-block;
}

p.legend-title {
  margin-bottom: 15px;
}

.seqlogo {
  border: 1px solid #ddd;
  border-radius: 4px;
}

.seqlogo + .seqlogo {
  margin-left: 10px;
}
