{% load bootstrap3 sekizai_tags %}

<div class="col-sm-12">

  <legend>Compatibility Parameters</legend>

  <div class="form-group col-sm-6">
    <label class="control-label col-lg-8" for="config-length-manual">Manually Set Index Length <small>(unchecked for auto):</small></label>
    <div class="col-lg-4">
      <div class="input-group">
        <span class="input-group-addon">
          <input id="config-length-manual" type="checkbox" aria-label="...">
        </span>
        <input id="config-length" name="config_length" type="integer" class="form-control" aria-label="..." value="6" disabled>
      </div>
    </div>
  </div>

  <div id="index_2_length" class="form-group col-sm-6" hidden>
    <label class="control-label col-lg-8" for="config-length-manual-2">Manually Set Index 2 Length <small>(unchecked for auto):</small></label>
    <div class="col-lg-4">
      <div class="input-group">
        <span class="input-group-addon">
          <input id="config-length-manual-2" type="checkbox" aria-label="...">
        </span>
        <input id="config-length-2" name="config_length_2" type="integer" class="form-control" aria-label="..." value="6" disabled>
      </div>
    </div>
  </div>

  <div class="form-group col-sm-6">
    <label class="control-label col-lg-8" for="id_config_distance">Minimum Hamming Distance:</label>
    <div class="col-lg-4">
      <div class="input-group">
        {{ form.config_distance }}
      </div>
    </div>
  </div>

</div>

{% addtoblock "js" %}
  <script>
    $('#id_config_distance').addClass('form-control')
  </script>
{% endaddtoblock %}
