{% load list2table %}

<div id="index_set_{{ index_set.id }}" class="col-md-6 index_set">
  <div class="panel panel-default">

    <div class="panel-heading">
      <h3 class="panel-title">
        <a href="{% url 'compatible_index_sequences:index_set_detail' pk=index_set.pk %}" target="_blank">
          {{ index_set.name }}
        </a>
        <span class="pull-right">
          <div class="btn-group btn-group-xs" role="group" aria-label="...">
            <button type="button" class="btn btn-success btn-select-all btn-border">
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-danger btn-deselect-all btn-border" disabled>
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
          </div>
        </span>
      </h3>
    </div>

    <table class="table table-condensed index-set">
      {% for row in index_set.index_set.all|list2table:8 %}
        <tr>
          {% for index in row  %}
            <td>
              <div class="idx">
                <div class="idx-name">
                  {{ index.name }}
                </div>
                <div class="sequence" style="display: none;">
                  {{ index.sequence }}
                </div>
              </div>
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>

    <div class="panel-footer"></div>

  </div>
</div>
