<!DOCTYPE html>

{% load bootstrap3 sekizai_tags staticfiles %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}sicTool{% endblock %}</title>

    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'compatible_index_sequences/css/app.css' %}">
    {% render_block "css" %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="page-header">
      <h3>Sequencing Index Compatibility Tool</h3>
    </div>
    {% block content %}{% endblock %}
    {% bootstrap_javascript jquery=1 %}
    <script src="{% static 'compatible_index_sequences/js/jquery-dateFormat.min.js' %}"></script>
    <script src="{% static 'compatible_index_sequences/js/app.js' %}"></script>
    {% render_block "js" %}
  </body>
</html>
