{% extends "compatible_index_sequences/base.html" %}

{% load bootstrap3 %}

{% block title %}Check Custom Index List | {{ block.super }}{% endblock title %}

{% block content %}
  <div class="container">
    <form action="{% url 'compatible_index_sequences:check_custom_index_list' %}" method="post">
      {% csrf_token %}
      <legend>sicTool for Custom Index List</legend>
      {% bootstrap_form form %}
      {% buttons %}
        <button type="submit" class="btn btn-default">Submit</button>
      {% endbuttons %}
    </form>
  </div>
{% endblock content %}
