{% extends "compatible_index_sequences/base.html" %}

{% load bootstrap3 %}

{% block title %}Custom | {{ block.super }}{% endblock title %}

{% block content %}
  <div class="container">
    <form action="{% url 'compatible_index_sequences:custom' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <legend>
        <span class="pull-right">
          <div class="btn-group btn-group-xs" role="group" aria-label="...">
            <button type="button" class="btn btn-default btn-border" data-toggle="collapse" data-target="#configurationPanel" aria-expanded="false" aria-controls="configurationPanel">
              <span class="glyphicon glyphicon glyphicon-cog" aria-hidden="true"></span>
            </button>
          </div>
        </span>
        <p class="legend-title">Custom List Mode</p>
      </legend>

      <div class="well usage">
        <p>
          To check a custom set of index sequences for compatibility, enter your index sequences and/or upload a sample sheet with index sequences.
        </p>
      </div>

      <div class="collapse" id="configurationPanel">
        <div class="well">
          <div class="row">
            <form class="form-horizontal">
              {% include "compatible_index_sequences/_compatibility_parameters.html" %}
            </form>
          </div>
        </div>
      </div>

      {% bootstrap_form_errors form %}
      {% include "compatible_index_sequences/_base_form_fields.html" %}
      {% buttons %}
        <button type="submit" class="btn btn-default">Submit</button>
      {% endbuttons %}
    </form>
  </div>
{% endblock content %}
