{% extends "compatible_index_sequences/base.html" %}

{% block title %}{% endblock title %}

{% block content %}
  <div class="container">

    <div class="page-header">
      <h1>
        Index Sequence Compatibility Tool
        <button type="button" class="btn btn-danger btn-xs btn-deselect-all-master pull-right">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </h1>
    </div>

    <div class="row">
      {% for index_set in object_list %}
        {% include "compatible_index_sequences/_index_set_panel.html" %}
      {% endfor %}
    </div>

  </div>
{% endblock content %}
