{% extends "compatible_index_sequences/base.html" %}

{% load bootstrap3 %}

{% block title %}Interactive | {{ block.super }}{% endblock title %}

{% block content %}
  <div class="container">

    <div>

      <legend >
        <span class="pull-right">
          <div class="btn-group btn-group-xs" role="group" aria-label="...">
            <button type="button" class="btn btn-primary btn-border btn-toggle-sequences">
              <span class="glyphicon glyphicon-plus glyphicon-toggle-sequences" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-minus glyphicon-toggle-sequences" aria-hidden="true" style="display: none;"></span>
            </button>
            <button type="button" class="btn btn-danger btn-deselect-all-master btn-border" disabled>
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default btn-border" data-toggle="collapse" data-target="#configurationPanel" aria-expanded="false" aria-controls="configurationPanel">
              <span class="glyphicon glyphicon glyphicon-cog" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-info btn-border" data-toggle="tooltip" data-placement="top" title="Not Yet Implemented">
              <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
            </button>
          </div>
        </span>
        <form id="export-csv" action="{% url 'compatible_index_sequences:export_samplesheet' %}" method="post">
          Interactive Mode
          {% csrf_token %}
          {% bootstrap_form hidden_download_form %}
          <div class="form-group inline-form-buttons">
            <button type="submit" class="btn btn-success btn-xs" disabled>
              <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
              SampleSheet.csv
            </button>
          </div>
          <small id="n-mer"></small>
        </form>
      </legend >

      <div class="well usage">
        <p><strong>Click</strong> to select index names. Incompatible indices will be <span class="incompatible">highlighted</span> in red. If an incompatible index is selected, it will also have a red <span class="incompatible selected">border</span>.</p>
        <p><strong>Alt-click</strong> on a selected and incompatible index to identify the other selected indices with which it is incompatible.</p>
        <p><strong>Shift-click</strong> on a selected and incompatible index to deselect the other selected indices with which it is incompatible.</p>
        <br>
        <p>
          Index sets can be selected/deselected en masse using the <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>/<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> buttons.
          Index sequences can be displayed or hidden with the <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>/<span class="glyphicon glyphicon-minus" aria-hidden="true"></span> buttons.
          To change parameters or view different index sets, click the <span class="glyphicon glyphicon glyphicon-cog" aria-hidden="true"></span> button.
          To toggle helpful tooltips, click the <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> button.
        </p>
      </div>

    </div>

    <div class="collapse" id="configurationPanel">
      <div class="well">
        <div class="row">
          <form class="form-horizontal">

            <div class="col-sm-12">
              <legend>Compatibility Parameters</legend>

              <div class="form-group col-sm-6">
                <label class="control-label col-lg-8" for="config-length-manual">Manually Set Index Length <small>(unchecked for auto):</small></label>
                <div class="col-lg-4">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <input id="config-length-manual" type="checkbox" aria-label="...">
                    </span>
                    <input id="config-length" type="text" class="form-control" aria-label="..." value="6" disabled>
                  </div>
                </div>
              </div>

              <div class="form-group col-sm-6">
                <label class="control-label col-lg-8" for="config-distance">Minimum Hamming Distance:</label>
                <div class="col-lg-4">
                  <div class="input-group">
                    <input id="config-distance" type="text" class="form-control" aria-label="..." value="3">
                  </div>
                </div>
              </div>

            </div>

            <div id="config-visibility" class="col-sm-12">
              <legend>Index Set Visibility</legend>
              {% for index_set in object_list %}
                  <div class="checkbox-inline">
                    <label for="config-visibility-{{ index_set.id }}" class="control-label checkbox-inline"><input type="checkbox" id="config-visibility-{{ index_set.id }}" index_set_id="{{ index_set.id }}" {% if index_set.visible_in_interactive %}checked{% endif %}>{{ index_set.name }}</label>
                  </div>
              {% endfor %}
            </div>

          </form>
        </div>
      </div>
    </div>

    <div class="row">
      {% for index_set in object_list %}
        {% include "compatible_index_sequences/_index_set_panel.html" %}
      {% endfor %}
    </div>

  </div>
{% endblock content %}
