{% extends "compatible_index_sequences/base.html" %}

{% block title %}Interactive | {{ block.super }}{% endblock title %}

{% block content %}
  <div class="container">

    <div class="page-header">
      <h1>
        Sequencing Index Compatibility Tool
        <span class="pull-right">
          <div class="btn-group btn-group-xs" role="group" aria-label="...">
            <button type="button" class="btn btn-primary btn-border btn-toggle-sequences">
              <span class="glyphicon glyphicon-plus glyphicon-toggle-sequences" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-minus glyphicon-toggle-sequences" aria-hidden="true" style="display: none;"></span>
            </button>
            <button type="button" class="btn btn-danger btn-deselect-all-master btn-border" disabled>
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default btn-border" data-toggle="collapse" data-target="#configurationPanel" aria-expanded="false" aria-controls="configurationPanel">
              <span class="glyphicon glyphicon glyphicon-cog" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-info btn-border" data-toggle="tooltip" data-placement="top" title="Not Yet Implemented">
              <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
            </button>
          </div>
        </span>
      </h1>
    </div>

    <div class="collapse" id="configurationPanel">
      <div class="well">
        <div class="row">
          <form class="form-horizontal">

            <div class="col-sm-12">
              <legend>Compatibility Parameters</legend>

              <div class="form-group col-sm-6">
                <label class="control-label col-lg-8" for="config-length-manual">Manually Set Index Length <small>(unchecked for auto):</small></label>
                <div class="col-lg-4">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <input id="config-length-manual" type="checkbox" aria-label="...">
                    </span>
                    <input id="config-length" type="text" class="form-control" aria-label="..." value="6" disabled>
                  </div>
                </div>
              </div>

              <div class="form-group col-sm-6">
                <label class="control-label col-lg-8" for="config-distance">Minimum Hamming Distance:</label>
                <div class="col-lg-4">
                  <div class="input-group">
                    <input id="config-distance" type="text" class="form-control" aria-label="..." value="3">
                  </div>
                </div>
              </div>

            </div>

            <div id="config-visibility" class="col-sm-12">
              <legend>Index Set Visibility</legend>
              {% for index_set in object_list %}
                  <div class="checkbox-inline">
                    <label for="config-visibility-{{ index_set.id }}" class="control-label checkbox-inline"><input type="checkbox" id="config-visibility-{{ index_set.id }}" index_set_id="{{ index_set.id }}" {% if index_set.visible_in_interactive %}checked{% endif %}>{{ index_set.name }}</label>
                  </div>
              {% endfor %}
            </div>

          </form>
        </div>
      </div>
    </div>

    <div class="row">
      {% for index_set in object_list %}
        {% include "compatible_index_sequences/_index_set_panel.html" %}
      {% endfor %}
    </div>

  </div>
{% endblock content %}
