{% extends "compatible_index_sequences/base.html" %}

{% load bootstrap3 %}

{% block title %}Select Mode | {{ block.super }}{% endblock title %}

{% block content %}
  <div class="container">
    <legend>Select Mode</legend>

    <div class="item  col-xs-12 col-sm-4">
      <div class="thumbnail">
        <a href="{% url 'compatible_index_sequences:auto' %}">
          <img src="http://placehold.it/600x600" alt="#">
          <div class="caption">
            <h4 class="group inner list-group-item-heading text-center">
              Automatic
            </h4>
            <p class="group inner list-group-item-text text-center">
              Find best combination of indexes.
            </p>
          </div>
        </a>
      </div>
    </div>

    <div class="item  col-xs-12 col-sm-4">
      <div class="thumbnail">
        <a href="{% url 'compatible_index_sequences:custom' %}">
          <img src="http://placehold.it/600x600" alt="#">
          <div class="caption">
            <h4 class="group inner list-group-item-heading text-center">
              Custom
            </h4>
            <p class="group inner list-group-item-text text-center">
              Check list of indexes for incompatibilities.
            </p>
          </div>
        </a>
      </div>
    </div>

    <div class="item  col-xs-12 col-sm-4">
      <div class="thumbnail">
        <a href="{% url 'compatible_index_sequences:interactive' %}">
          <img src="http://placehold.it/600x600" alt="#">
          <div class="caption">
            <h4 class="group inner list-group-item-heading text-center">
              Interactive
            </h4>
            <p class="group inner list-group-item-text text-center">
              Interactively check index compatibility.
            </p>
          </div>
        </a>
      </div>
    </div>

  </div>
{% endblock content %}
