{% extends "compatible_index_sequences/base.html" %}

{% load bootstrap3 static %}

{% block title %}Select Mode | {{ block.super }}{% endblock title %}

{% block content %}
  <div class="container">
    <legend>Select Mode</legend>

    <div class="well usage">
      <p>
        The Amaryllis sicTool (<strong>S</strong>equencing <strong>I</strong>ndex <strong>C</strong>ompatibility <strong>Tool</strong>) helps prevent the accidental use of adapters with incompatible index sequences when performing Next Generation Sequencing experiments.
        Using the Amaryllis sicTool, researchers can easily and confidently combine libraries made with adapters even from unrelated index sets.
      </p>
      <br>
      <p>
        The Amaryllis sicTool has three modes.
        Use <strong>Interactive Mode</strong> to explore and visualize compatibility between index sequences from commercially available index sets.
        <strong>Automatic Mode</strong> is useful when you are busy preparing to synthesize libraries and want someone else to choose a good set of compatible index sequences for you.
        If you already have a set of index sequences, use <strong>Custom Mode</strong> to test their compatibility.
        All three modes allow you to download a sample sheet template populated with your chosen set of compatible index sequences.
      </p>
    </div>

    <div class="item  col-xs-12 col-sm-4">
      <div class="thumbnail">
        <a href="{% url 'compatible_index_sequences:interactive' %}">
          <img src="{% static 'compatible_index_sequences/img/interactive-mode.png' %}" alt="Interactive Mode">
          <div class="caption">
            <h4 class="group inner list-group-item-heading text-center">
              Interactive
            </h4>
            <p class="group inner list-group-item-text text-center">
              Interactively check index compatibility.
            </p>
          </div>
        </a>
      </div>
    </div>

    <div class="item  col-xs-12 col-sm-4">
      <div class="thumbnail">
        <a href="{% url 'compatible_index_sequences:auto' %}">
          <img src="{% static 'compatible_index_sequences/img/automatic-mode.png' %}" alt="Automatic Mode">
          <div class="caption">
            <h4 class="group inner list-group-item-heading text-center">
              Automatic
            </h4>
            <p class="group inner list-group-item-text text-center">
              Find best combination of indexes.
            </p>
          </div>
        </a>
      </div>
    </div>

    <div class="item  col-xs-12 col-sm-4">
      <div class="thumbnail">
        <a href="{% url 'compatible_index_sequences:custom' %}">
          <img src="{% static 'compatible_index_sequences/img/custom-mode.png' %}" alt="Custom Mode">
          <div class="caption">
            <h4 class="group inner list-group-item-heading text-center">
              Custom
            </h4>
            <p class="group inner list-group-item-text text-center">
              Check list of indexes for incompatibilities.
            </p>
          </div>
        </a>
      </div>
    </div>

  </div>
{% endblock content %}
